<?xml version="1.0" encoding="utf-8"?><!--
/*#######################################################
 *
 *   Maintained 2017-2024 by Gregor Santner <gsantner AT mailbox DOT org>
 *
 *   License of this file: Apache 2.0
 *     https://www.apache.org/licenses/LICENSE-2.0
 *
#########################################################*/
-->

<!-- Do NOT run auto format on this file -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:targetApi="jelly_bean">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.type.pc"
        android:required="false" />

    <application
        android:name=".ApplicationObject"
        android:allowBackup="true"
        android:appCategory="productivity"
        android:icon="@drawable/ic_launcher"
        android:isGame="false"
        android:label="Notepad Mar-Elias"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Unified.StartupFlash"
        android:usesCleartextTraffic="true"
        tools:targetApi="o">

        <!-- <profileable android:shell="true"/> -->

        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />

        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity=".activity.MainActivity"
            android:windowSoftInputMode="stateUnchanged|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.StoragePermissionActivity"
            android:label="@string/permissions"
            android:parentActivityName=".activity.MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activity.OpenFromShortcutOrWidgetActivity"
            android:launchMode="standard"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".activity.DocumentActivity"
            android:exported="true"
            android:label="Notepad Mar-Elias"
            android:launchMode="standard"
            android:maxRecents="5"
            android:parentActivityName=".activity.MainActivity"
            android:taskAffinity=".activity.DocumentActivity"
            android:theme="@style/AppTheme.Unified.StartupFlash"
            android:windowSoftInputMode="stateUnchanged|adjustResize"
            tools:targetApi="lollipop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.marelias.notepad.activity.MainActivity" />

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/*" />
            </intent-filter>

            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/plain+md" />
                <data android:mimeType="text/markdown" />
                <data android:mimeType="text/x-markdown" />
                <data android:mimeType="text/htm" />
                <data android:mimeType="text/html" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <!--
                  ##############################
                  #  Filter MIME based
                  #  From docs: If filter has mimeType but no scheme, the content: and file: schemes are assumed.
                  ##############################
                  -->
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="text/*" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/plain+md" />
                <data android:mimeType="text/markdown" />
                <data android:mimeType="text/x-markdown" />
                <data android:mimeType="application/octet-stream" />

                <data android:host="*" />

                <!--
                  ##############################
                  #  Filter extension based
                  #    Pattern matcher works till first match, so multiple hierachy levels have to be added.
                  #    See https://stackoverflow.com/questions/3400072/pathpattern-to-match-file-extension-does-not-work-if-a-period-exists-elsewhere-i/4621284#4621284
                  ##############################
                  -->

                <!-- Handling of file extension ".md" -->
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\.md" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\..*\.md" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\..*\..*\.md" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\..*\..*\..*\.md" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\..*\..*\..*\..*\.md" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\..*\..*\..*\..*\..*\.md" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\..*\..*\..*\..*\..*\..*\.md" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\..*\..*\..*\..*\..*\..*\..*\.md" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\..*\..*\..*\..*\..*\..*\..*\..*\.md" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\..*\..*\..*\..*\..*\..*\..*\..*\..*\.md" />

                <!-- Handling of file extension ".text" -->
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\.text" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\..*\.text" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\..*\..*\.text" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\..*\..*\..*\.text" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\..*\..*\..*\..*\.text" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\..*\..*\..*\..*\..*\.text" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\..*\..*\..*\..*\..*\..*\.text" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\..*\..*\..*\..*\..*\..*\..*\.text" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\..*\..*\..*\..*\..*\..*\..*\..*\.text" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\..*\..*\..*\..*\..*\..*\..*\..*\..*\.text" />

                <!-- Handling of file extension ".txt" -->
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\.txt" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\..*\.txt" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\..*\..*\.txt" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\..*\..*\..*\.txt" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\..*\..*\..*\..*\.txt" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\..*\..*\..*\..*\..*\.txt" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\..*\..*\..*\..*\..*\..*\.txt" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\..*\..*\..*\..*\..*\..*\..*\.txt" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\..*\..*\..*\..*\..*\..*\..*\..*\.txt" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\..*\..*\..*\..*\..*\..*\..*\..*\..*\.txt" />

            </intent-filter>
        </activity>

        <activity-alias
            android:name="AliasDocumentProcessText"
            android:label="@string/app_name"
            android:exported="true"
            android:targetActivity=".activity.DocumentActivity"
            android:enabled="false">

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity-alias>
    </application>

    <queries>
        <package android:name="com.android.chrome" />
        <package android:name="com.chrome.beta" />
        <package android:name="com.chrome.dev" />
        <package android:name="com.google.android.apps.chrome" />
        <package android:name="org.chromium.chrome" />
        <package android:name="org.mozilla.fennec_fdroid" />
        <package android:name="org.mozilla.firefox" />
        <package android:name="org.mozilla.firefox_beta" />
        <package android:name="org.mozilla.fennec_aurora" />
        <package android:name="org.mozilla.klar" />
        <package android:name="org.mozilla.focus" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>
</manifest>
